#slide_cont {
  position: relative;
}

.slide_pict {
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
}

#slide1 {
  right: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide2 {
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide3 {
  top: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide4 {
  bottom: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide5 {
  bottom: 50px;
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide6 {
  top: 50px;
  right: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide7 {
  background-image: url("../img/02.jpg");
  background-size: contain;
}
