@charset "UTF-8";
#slide_cont {
  cursor: none;
  position: relative;
}

.slide {
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
}

#slide1 {
  right: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide2 {
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide3 {
  top: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide4 {
  bottom: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide5 {
  bottom: 50px;
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide6 {
  top: 50px;
  right: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide7 {
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  background-image: url("../img/02.jpg");
  background-size: contain;
  vertical-align: middle;
  -webkit-box-align: center;
  /* safari, Chrome */
  -moz-box-align: center;
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}
#slide7 span {
  margin: 0 auto;
  display: block;
}

#enter_cont {
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  vertical-align: middle;
  -webkit-box-align: center;
  /* safari, Chrome */
  -moz-box-align: center;
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}
#enter_cont span {
  margin: 0 auto;
  display: block;
  font-size: 24px;
  color: #000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
#enter_cont span:hover {
  color: #bbb;
  text-shadow: -1px 1px 5px #000, 1px -1px 5px #000;
}

.curtain {
  top: 0px;
  width: 50%;
  background-color: black;
}

.curtain_left {
  left: 0px;
}

.curtain_right {
  right: 0px;
}
