@charset "UTF-8";
html, body, main, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, section, article {
  height: 100%;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

#slide_cont {
  cursor: none;
  position: relative;
  position: fixed;
}

.slide {
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
}

#slide1 {
  right: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide2 {
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide3 {
  top: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide4 {
  bottom: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide5 {
  bottom: 50px;
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide6 {
  top: 50px;
  right: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide7 {
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  background-image: url("../img/02.jpg");
  background-size: contain;
  vertical-align: middle;
  -webkit-box-align: center;
  /* safari, Chrome */
  -moz-box-align: center;
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}
#slide7 span {
  margin: 0 auto;
  display: block;
}

#enter_center {
  position: relative;
  vertical-align: middle;
}
#enter_center p {
  position: absolute;
  top: 45%;
  left: 48%;
  font-size: 1.5rem;
  color: #000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#enter_center p:hover {
  cursor: pointer;
  color: #eee;
  text-shadow: -1px 1px 5px #000, 1px -1px 5px #000;
}

.curtain {
  top: 0px;
  width: 50%;
  background-color: black;
}

.curtain_left {
  left: 0px;
}

.curtain_right {
  right: 0px;
}

.shoji {
  position: relative;
  width: 47.5%;
  background-color: #fff;
  float: left;
}

.shoji_raw {
  height: 30.66%;
}

.shoji_top {
  margin-top: 3%;
}

.shoji_middle {
  margin: 1% 0;
}

.shoji_bottom {
  margin-bottom: 3%;
}

.shoji_left {
  margin: 0 0.5% 0 2%;
}

.shoji_right {
  margin: 0 2% 0 0.5%;
}

.geo_pattern {
  box-sizing: border-box;
}

#geo_pattern1 {
  width: 32.66%;
  height: 65.32%;
  border-right: thick solid #000;
  border-bottom: thick solid #000;
}
