@charset "UTF-8";

#slide_cont {
  cursor: none;
  position: relative;
  position: fixed;
}

.slide {
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
}

#slide1 {
  right: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide2 {
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide3 {
  top: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide4 {
  bottom: 50px;
  background-image: url("../img/01.jpg");
  background-size: cover;
}

#slide5 {
  bottom: 50px;
  left: 50px;
  background-image: url("../img/02.jpg");
  background-size: contain;
}

#slide6 {
  top: 50px;
  right: 50px;
  background-image: url("../img/03.jpg");
  background-size: cover;
}

#slide7 {
  display: -webkit-box; /* safari, Chrome */
  display: -moz-box;    /* Firefox */
  display: -o-box;      /* Opera */
  display: -ms-box;     /* IE */
  display: box;         /* ベンダープレフィックスなし */
  background-image: url("../img/02.jpg");
  background-size: contain;
  vertical-align: middle;
  -webkit-box-align: center; /* safari, Chrome */
  -moz-box-align: center;    /* Firefox */
  -o-box-align: center;      /* Opera */
  -ms-box-align: center;     /* IE */
  box-align: center;         /* ベンダープレフィックスなし */
  span {
    margin: 0 auto;
    display: block;
  }
}

$trans_speed: 0.3s;

#enter_center {
  position: relative;
  vertical-align: middle;
  p {
    position: absolute;
    top: 45%;
    left: 48%;
    font-size: 1.5rem;
    color: #000;
    -webkit-transition: $trans_speed;
    -moz-transition: $trans_speed;
    -o-transition: $trans_speed;
    -ms-transition: $trans_speed;
    transition: $trans_speed;
  }
  p:hover {
    cursor: pointer;
    color: #eee;
    text-shadow: -1px 1px 5px #000, 1px -1px 5px #000;
  }
}